<tr id="row_<%= activity.id %>">
  <td><%= transaction.application_id %></td>
  <td><%= transaction.primary_hbx_id %></td>
  <td><%= transaction.fpl_year %></td>
  <td><%= activity.event_key_label %></td>
  <td><%= activity.status %></td>
  <td><%= link_to activity.updated_at, transaction_path(transaction, anchor: "activty_#{activity.id}") %></td>
</tr>
<tr class="details">
 <td colspan="6" id="details_<%= activity.id %>">
 	<button onclick="hideButton(this)">Hide payload</button>
  <% if activity&.decrypted_message %>
    <pre><%= activity.xml_formatted_message? ? activity.decrypted_message : raw(ap(activity.decrypted_message)) %></pre>
  <% end %>
 </td>
</tr>