<tr>
  <td><%= transaction.application_id %></td>
  <td><%= transaction.primary_hbx_id %></td>
  <td><%= transaction.fpl %></td>
  <td><%= transaction.fpl_year %></td>
  <td><%= activity.message %></td>
  <td><%= activity.status %></td>
  <td><%= activity.updated_at %></td>
</tr>