<%= content_for :current_page do %>
  <span><a href="/">Transaction Activities</a></span>
<% end %>
<h1>FDSH Gateway</h1>
<form class="table-search">
  <label>Search</label>  
  <input type="search" name="search" id="table_search" placeholder="Request ID, HBX ID or Application ID">
</form>
<% if @search && !@results.any? %>
  <p>There are are no results for the term <strong><%= @search %></strong>. Try a different search term or <%= link_to "see all transaction activities", "/" %>.</p>
<% end %>

<table id="activity_table">
  <thead>
    <th>Application ID</th>
    <th>HBX ID</th>
    <th>FPL Year</th>
    <th>Activity</th>
    <th>Status</th>
    <th>Updated</th>
  </thead>
  <tbody>
  <% @activity_rows.each do |ar| %>
      <%= render partial: "activity_row", locals: { activity_row: ar } %>
  <% end %>
  </tbody>
</table>
<%= paginate @activity_rows, total_count: @total_count %>

<script type="text/javascript">
  function addRowHandlers(table_id) {
    var rows = document.getElementById(table_id).rows;
    for (i = 0; i < rows.length; i++) {
      rows[i].onclick = function(){ return function(){
        this.classList.add("active")
      };}(rows[i]);
    }
  }
  function hideButton(e) {
    e.closest("tr").previousElementSibling.classList.remove("active");
  }
  window.onload = addRowHandlers("activity_table");
</script>