<!DOCTYPE html>
<html>
  <head>
    <title>FdshGateway</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'gateway_styles/nav', , locals: { transaction: transaction[:t], activity: transaction[:a] } %>
    <main class="layout-container">
      <% if notice %>
        <div class="alert alert-primary" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-warning" role="alert">
          <%= alert %>
        </div>
      <% end %>
      <div class="layout-container">
        <nav class="breadcrumbs">
          <span>Gateway</span><span>DC</span><span>FDSH</span><span><%= yield :current_page %></span>
        </nav>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
